* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --dark-bg: rgb(1, 0, 15);
    --darker-bg: #050505;
    --accent: #be2323;
    --accent-light: #3e02af;
    --accent-glow: rgba(190, 35, 35, 0.5);
    --text: #ffffff;
}

body {
    color: var(--text);
    line-height: 1.6;
    overflow-x: hidden;
    background: rgb(1, 0, 15);
    position: relative;
    z-index: 1;
}

#galaxy-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    background: var(--dark-bg);
}

.menu {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-toggle {
    background: none;
    border: none;
    color: var(--text);
    font-size: 2rem;
    cursor: pointer;
    z-index: 201;
    background: linear-gradient(45deg, var(--accent) 30%, var(--accent-light) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    width: 6.25rem;
    height: 6.25rem;
    animation: pulse 2s infinite;
    position: fixed;
    top: 10px;
    right: 40px;
    z-index: 200;
}

.menu-toggle:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.menu-list {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-11.25rem);
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    min-width: 15rem;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 199;
}

.menu-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.menu-list a {
    color: var(--text);
    text-decoration: none;
    display: block;
    padding: 1.25rem 1rem;
    transition:
        background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    position: relative;
    z-index: 1;
}


.menu-list a:hover {
    background: var(--accent-glow);
    color: #fff;
    font-size: 1.25rem;
    box-shadow: 0 0 12px 2px var(--accent-glow);
    transition: all 0.5s ease;
}

.menu.open .menu-list {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(3.5rem);
}

#perfil {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 12% 5%;
    flex: 1;
    padding-right: 5rem;
    padding-top: 3rem;
    gap: 2rem;
}

.perfil-conteudo {
    flex: 1;
    padding-right: 3rem;

}

#perfil-img {
    flex: 1;
    right: 40%;
    text-align: center;
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--accent);
    box-shadow: 0 0 50px var(--accent-glow);
    animation: float 3s ease-in-out infinite;
    filter: grayscale(0.2) contrast(1.1);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.25rem);
    }
}

#perfil h1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    font-family: poppins, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg, rgba(190, 35, 35, 0.932), rgba(62, 2, 175, 0.904), rgba(131, 4, 204, 0.904), rgba(190, 35, 35, 0.932));
    background-size: 400% 100%;
    animation: gradient 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

#perfil p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.9;
    max-width: 37.5rem;
    color: var(--text);
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, var(--accent), var(--accent-light));
    color: var(--text);
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.cta-button:hover {
    background: linear-gradient(45deg, var(--accent-light), var(--accent));
    color: #000000;
    box-shadow: 0 0 12px 2px var(--accent-glow);
    transform: translateY(-4px);
}

p#highlight {
    font-weight: bold;
    color: var(--accent-light);
    background: linear-gradient(45deg, var(--accent), var(--accent-light) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.8rem;
    margin-top: 1rem;
}

p#animado {
    border-right: 4px solid;
    width: 42ch;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(42), step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 42ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#sobre {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 5rem 5%;
    color: var(--text);
    font-size: 1.125rem;
}

#sobre h1 {
    text-align: center;
    font-size: 3.8rem;
    color: var(--accent-light);
    background: linear-gradient(45deg, var(--accent), var(--accent-light) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 0;
    
}

#sobre-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-direction: row;
    text-align: left;
}

.sobre-textos {
    flex: 2;
    min-width: 13.75rem;
}

.sobre-textos:hover {
    transform: translateY(-5px);
    font-size: 1.25rem;
    transition: all 1s ease;
}

.sobre-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sobre-imagem img {
    width: 60%;
    max-width: 21.875rem;
    /* 350px */
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.sobre-imagem:hover img {
    transform: scale(1.15);
    transition: all 0.3s ease;
}


#habilidades {
    padding: 5rem 5%;
    color: var(--text);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
    max-width: 75rem;
    margin: 3rem auto 0 auto;
}

#habilidades h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3.8rem;
    color: var(--accent);
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 2rem;
    color: var(--accent-light);
    background: linear-gradient(45deg, var(--accent), var(--accent-light) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.habilidade {
    background: #141414;
    border-radius: 15px;
    color: #fff;
    padding: 2rem;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
    width: 100%;
    max-width: 350px;
}

.habilidade:hover {
    transform: translateY(-10px);
    border-color: var(--accent);
    box-shadow: 0 10px 30px rgb(184, 61, 255);
    background-color: rgba(255, 255, 255, 0.05);
}

.habilidade i {
    font-size: 2.5rem;
    background: linear-gradient(45deg, var(--accent) 30%, var(--accent-light) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

footer {
    background: linear-gradient(45deg, rgba(156, 29, 29, 0.795) 30%, rgba(62, 2, 175, 0.699) 70%);
    padding: 3rem 5%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.redes-sociais {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.redes-sociais a {
    color: var(--text);
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.redes-sociais a:hover {
    background: linear-gradient(45deg, var(--accent) 30%, var(--accent-light) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transform: translateY(-3px);
    font-size: 1.8rem;
}

section {
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1.5s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1.5s;
    transform: translateX(0);
}

.habilidade {
    background-color: #141414;
    border-radius: 15px;
    color: #fff;
    padding: 2rem;
}

@media (max-width: 768px) {
    #perfil {
        flex-direction: column;
        text-align: center;
        padding-top: 8rem;
    }

    .perfil-conteudo {
        padding-right: 0;
        margin-bottom: 3rem;
    }

    figure img {
        width: 50vw;
        height: auto;

    }

    .menu-list {
        display: none;
    }

    .logo {
        font-size: 1.5rem;
        padding-left: 2rem;
    }

    #sobre-row {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #perfil {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .perfil-conteudo {
        padding: 0;
        text-align: center;
    }

    #perfil-img {
        margin: 0 auto;
        display: block;
        width: 60vw;
        height: auto;
        max-width: 15.6rem;
    }

    #perfil h1 {
        font-size: 3rem;
    }

    #perfil p {
        font-size: 1.2rem;
    }

    #sobre {
        padding: 5rem 5%;
    }

    #sobre h1,
    #habilidades h1 {
        font-size: 2.5rem;
    }

    .habilidade {
        padding: 1.5rem;
    }

    .habilidade i {
        font-size: 2rem;
    }

    .menu {
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 200;
    }

    .menu-list {
        position: absolute;
        right: 60px;
        top: 60px;
        width: 20rem;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-200%);
        transition: opacity 0.3s ease, transform 0.3s ease;
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0 auto;
        background-color: rgb(1, 0, 15);
        width: 90%;
        text-align: right;
        border-radius: 10px;
        list-style: none;
        z-index: 199;
    }

    .menu.open .menu-list {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .menu-list a {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 480px) {
    #perfil-img {
        width: 70vw;
    }

    #perfil h1 {
        font-size: 2.4rem;
    }

    #perfil p,
    p#highlight {
        font-size: 1rem;
    }

    .habilidade {
        padding: 1rem;
    }

    .habilidade i {
        font-size: 1.8rem;
    }
}